
html, body, .ox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #c82923;
  -webkit-overflow-scrolling: touch;
}

.one, .three {
  height: 1500px;
  width: 750px;
  position: relative;
}

@font-face {
  font-family: 'iconfont';  /* project id 1225486 */
  src: url('//at.alicdn.com/t/font_1225486_czxfyzakhp.eot');
  src: url('//at.alicdn.com/t/font_1225486_czxfyzakhp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1225486_czxfyzakhp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1225486_czxfyzakhp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1225486_czxfyzakhp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1225486_czxfyzakhp.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}

.two .search-bar-active {
  width: calc(100% - 20px);
}
.two .search-bar-active .search-panel {
  height: calc(100% - 75px);
  padding: 10px;
}